@import "../custom-settings.part.less";

 /* 페이지 인덱서 */
.cl-pageindexer {
	font: @font-base;
	color: @component-text-color;
	
	/* 페이지 인덱서 버튼 공통 */
	.cl-pageindexer-first ,
	.cl-pageindexer-last ,
	.cl-pageindexer-prev ,
	.cl-pageindexer-next,
	.cl-pageindexer-index {
		border: @component-border-base;
		border-radius: @component-border-radius;
	}

	/* 페이지 인덱서 처음으로 버튼 */
	.cl-pageindexer-first{
		 background-image: url(images/controls/pageindexer/icon-chevrons-left.png);
	}

	/* 페이지 인덱서 이전 버튼 */
	.cl-pageindexer-prev {
		 background-image: url(images/controls/pageindexer/icon-chevron-left.png);
	}

	/* 페이지 인덱서 다음 버튼 */
	.cl-pageindexer-next{
		 background-image: url(images/controls/pageindexer/icon-chevrons-right.png);
	}

	/* 페이지 인덱서 마지막으로 버튼 */
	.cl-pageindexer-last {
		 background-image: url(images/controls/pageindexer/icon-chevron-right.png);
	}
	
	.cl-pageindexer-index {
		/* 페이지 인덱서 선택된 페이지 */
		&.cl-selected {
			background-color: @component-selected-background-color;
			color: @component-selected-text-color;
			border-color: @component-selected-border-color;
		}
	}

	/* 페이지 인덱서 - disabled */
	&.cl-disabled{
		color: @component-disabled-text-color;
	}
}

.cl-pageindexer:not(.cl-disabled){
	.cl-pageindexer-first ,
	.cl-pageindexer-last ,
	.cl-pageindexer-prev ,
	.cl-pageindexer-next,
	.cl-pageindexer-index {
		&:not(.cl-selected){
			/* 페이지 인덱서 버튼 공통 - 호버 */
			&.cl-hover, 
			&:hover{
				background-color: @component-hover-background-color;
			}
		}
		
		&.cl-focus,
		&:focus {
			outline : none;
			border-color : @component-focus-border-color !important;
		}
	}

	/* 페이지 인덱서 처음으로 버튼 - 액티브 */
	.cl-pageindexer-first:active{
		background-image: url(images/controls/pageindexer/icon-chevrons-left-hover.png);
	}

	/* 페이지 인덱서 이전 버튼 - 액티브 */
	.cl-pageindexer-prev:active{
		background-image: url(images/controls/pageindexer/icon-chevron-left-hover.png);
	}

	/* 페이지 인덱서 다음 버튼 - 액티브 */
	.cl-pageindexer-next:active{
		background-image: url(images/controls/pageindexer/icon-chevrons-right-hover.png);
	}

	/* 페이지 인덱서 마지막으로 버튼 - 액티브 */
	.cl-pageindexer-last:active{
		background-image: url(images/controls/pageindexer/icon-chevron-right-hover.png);
	}
}

.cl-pageindexer.cl-disabled {
	/* 페이지 인덱서 버튼 공통 - disabled */
	.cl-pageindexer-first ,
	.cl-pageindexer-last ,
	.cl-pageindexer-prev ,
	.cl-pageindexer-next,
	.cl-pageindexer-index {
		background-color: @component-disabled-background-color;
		border-color: @component-disabled-border-color;
		color: @component-disabled-text-color;
	}
	
	/* 페이지 인덱서 처음으로 버튼 */
	.cl-pageindexer-first{
		 background-image: url(images/controls/pageindexer/icon-chevrons-left-disabled.png);
	}

	/* 페이지 인덱서 이전 버튼 */
	.cl-pageindexer-prev {
		 background-image: url(images/controls/pageindexer/icon-chevron-left-disabled.png);
	}

	/* 페이지 인덱서 다음 버튼 */
	.cl-pageindexer-next{
		 background-image: url(images/controls/pageindexer/icon-chevrons-right-disabled.png);
	}

	/* 페이지 인덱서 마지막으로 버튼 */
	.cl-pageindexer-last {
		 background-image: url(images/controls/pageindexer/icon-chevron-right-disabled.png);
	}

	/* 페이지 인덱서 버튼 공통 - disabled, selected */
	.cl-pageindexer-index.cl-selected {
		background-color: @component-disabled-selected-background-color;
		border-color: @component-disabled-selected-border-color;
		color: @component-disabled-selected-text-color;
	}
}