@import "../custom-settings.part.less";

 /* 서치 인풋 */
.cl-searchinput {
	font: @font-base;
	color: @input-text-color;
	border: @input-border-base;
	border-radius: @input-border-radius;
	background-color: @input-background-color;
	background-image: @input-background-image;
	transition: @transition-base;

	/* 서치 인풋 텍스트 */
	.cl-text {
		padding: @input-padding-0 @input-padding-x;
		
		&.cl-placeholder {
			color: @input-placeholder-text-color !important;
		}
	}

	/* 서치 인풋 Clear버튼 */
	.cl-searchinput-clear{
		background-image: url(images/controls/input/icon-close.png);
		background-size: 16px;
		width: 20px;
	}

	/* 서치 인풋 검색버튼 */
	.cl-searchinput-search {
		background-image: url(images/controls/input/icon-search.png);
		background-size: 16px;
		width: calc(@input-padding-x + 12px); // padding + image size ( - image padding ) <-- 4px
		
		&.cl-left {
			background-position: right center;
		}
		
		&.cl-right {
			background-position: left center;
		}
	}

	&.cl-disabled{
		/* 서치 인풋 disabled 상태 Clear버튼 */
		.cl-searchinput-clear{
			 background-image: url(images/controls/input/icon-close-disabled.png);
		}
		/* 서치 인풋 disabled 상태 검색버튼 */
		.cl-searchinput-search {
			 background-image: url(images/controls/input/icon-search-disabled.png);
		}
	}
	
	&:not(.cl-disabled):hover {
		.cl-searchinput-clear{
			background-image: url(images/controls/input/icon-close.png);
		}
	
		.cl-searchinput-search{
			background-image: url(images/controls/input/icon-search.png);
		}
	}
}

/* 서치 인풋 disabled 상태 */
.cl-searchinput.cl-disabled {
	color: @input-disabled-text-color;
	background-color: @input-disabled-background-color;
	border-color: @input-disabled-border-color;

	/* 서치 인풋 disabled 상태 텍스트*/
	input {
		color : @input-disabled-text-color;
	}
}

/* 서치 인풋 포커스 상태 */
.cl-searchinput.cl-focus {
	border-color: @input-focus-border-color;
	
	.cl-searchinput-clear{
		background-image: url(images/controls/input/icon-close.png);
	}

	.cl-searchinput-search{
		background-image: url(images/controls/input/icon-search.png);
	}
}
