<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tomato.donghang.model.mapper.EduApplyBoardMapper">
	<insert id="createBoard" parameterType="com.tomato.donghang.model.vo.EduApplyBoardVO">
	INSERT INTO EDU_APPLY_BOARD(
EDU_BOARD_NO,
EDU_BOARD_TITLE,
EDU_BOARD_START_PERIOD,
EDU_BOARD_END_PERIOD, 
EDU_BOARD_APPLY_START_PERIOD,
EDU_BOARD_APPLY_END_PERIOD,
EDU_BOARD_APPLY_MEMBER_COUNT,
EDU_APPLY_BOARD_CATEGORY,
EDU_APPLY_BOARD_CONTENT
)
 VALUES(
 EDU_APPLY_BOARD_SEQ.NEXTVAL,
#{eduBoardTitle},
#{eduBoardStartPeriod},
#{eduBoardEndPeriod},
#{eduBoardApplyStartPeriod},
#{eduBoardApplyEndPeriod},
#{eduBoardApplyMemberCount},
#{eduApplyBoardCategory},
#{eduApplyBoardContent}
);
<!-- #{mebmerVO.id} -->
	</insert>
</mapper>

